# 忽略编译生成的文件
build/
*.exe
*.o
*.out

# 忽略 Python 虚拟环境和缓存
.venv/
__pycache__/

# 忽略 VS Code 个人配置文件（可选）
.vscode/

# （建议）第三方庞大的库也可以忽略，如果你希望代码库保持小巧
# eigen3.4.0/
# osqp_bin/

# 忽略个人的笔记文件
下一步方向.txt
动力学仿真进步.txt